.modal-wraper {
  background: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 51;
}

.modal {
  position: fixed;
  top: 5rem;
  left: 5rem;
  right: 5rem;
  background: rgb(255, 255, 255);
  height: 70%;
  padding: 2rem;
  border-radius: 5px;
}
