# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# TypeScript
dist/
build/
*.tsbuildinfo

# Logs
logs
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db
nodemon.json

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.swn
*.swm

# Coverage and Test Artifacts
coverage/
*.lcov
.jest/

# Miscellaneous
*.bak
*.tmp
*.old
*.orig

# Debuggers
*.tgz
